* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  background-color: #333333;
}

.header-container {
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #c0bab6;
  font-size: 50px;
  padding: 20px 0;
}

.header-search {
  align-items: center;
}

.header-search__input {
  background-color: #232323;
  border-radius: none;
  border-style: solid;
  height: 24px;
}

.header-search__button {
  background-color: #ff9900;
  color: whitesmoke;
  height: 24px;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #232323;
  margin-bottom: 20px;
}

.header-nav__link {
  margin: 20px 20px;
  text-decoration: none;
  color: #c0bab6;
}

.header-nav__link:hover {
  color: #ff9900;
}

.main {
  padding: 40px 100px;
  width: 100%;
}

.main-top {
  display: flex;
}

.main-top__left {
  background-color: #464646;
  height: 300px;
  color: #989898;
  padding: 15px;
}

.main-top__left__title {
  font-size: 50px;
  font-style: italic;
}

.main-top__left__text {
}

.main-top__left__extend {
  float: right;
  color: #ff9900;
  padding-right: 30px;
}

.main-top__right {
}

.main-bottom {
  display: flex;
  margin-top: 40px;
}

.main-bottom__left {
  color: #989898;
  flex: 1;
}

.main-bottom__left__title {
  font-size: 25px;
}

.main-bottom__left__text__link {
  text-decoration: none;
  color: #ff9900;
}

.main-bottom__right {
  flex: 1;
}

.main-bottom__right {
  display: flex;
  flex-direction: column;
}

.main-bottom__right__img {
  display: flex;
  justify-content: space-between;
}

.main-bottom__right__img_a {
}

.image {
  border: 5px double #d6d6d6;
}

.main-bottom__right__link {
  text-decoration: none;
  color: #ff9900;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.footer {
  margin: 40px 0 0 0;
}

.footer-top {
  display: flex;
  margin-left: 100px;
  margin-right:100px;
}

.footer-margin {
  margin-bottom: 40px;
}

.title {
  color: #979797;
  font-size: 20px;
}

.text {
  color: #979797;
}

.links__a {
  color: #ff9900;
  text-decoration: none;
}

.footer-top__blog {
  flex: 1;
}

.footer-top__links {
  flex: 1;
}

.footer-top__about {
  flex: 2;
}

.links {
  list-style-type: square;
  list-style-position: inside;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom:10px;
}

.footer-top__about__conent {
  display: flex;
}

.footer-top__about__text {
  padding-left: 20px;
}
.footer-top__about__link {
  float: right;
}

.footer-bottom {
  display: flex;
  background-color: #232323;
  height: 65px;
  justify-content: space-between;
  align-items: center;
  margin-top:30px;
}

.footer-bottom__text {
  color: #919191;
  margin: 0 100px;
}
